body{
    background-color: rgb(0, 97, 224);
    color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
}
header{
    font-size: 100px;
    border: dashed 20px black;
}
h1{
    font-size: 50px;
}
p{
    font-size: 25px;
}