body{
    background-color: rgb(0, 97, 224);
    color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
    margin: 0px;
}
header{
    font-size: 100px;
    border-bottom:  dashed 20px black;
    text-align: center;
    /*margin: 30px;*/
    padding: 30px;
}
h1{
    font-size: 50px;
}
p{
    font-size: 25px;
}